<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>    
    <body class="bg-light">
        <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="logo-gris.png" alt="" width="auto" height="auto">
        <h2>Hola {{infoUser.name}}</h2>
        <p class="lead">Usted ha realizado el contacto para empeñar su auto,sus datos son los siguientes</p>
      </div>
    
      <div class="row">
        
        <div class="col order-md-1 d-flex justify-content-center">          
          <form class="needs-validation" novalidate="">
            <h4 class="mb-4 ml-5 justify-content-center">Informacion del cliente</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <dt>Nombre</dt>
              </div>
              <div class="col-md-6 mb-3">
                <dd >{{infoCars.nombremarca}}</dd>
              </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Correo</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.nombremodeloauto}}</dd>
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Teléfono</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.anno}}</dd>
                </div>
              </div>
            <hr/>
            <h4 class="mb-4 ml-5 justify-content-center">Informacion del auto</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Marca</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.marca}}</dd>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Modelo</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.modelo}}</dd>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Version</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.nombreversionauto}}</dd>
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Color</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoCars.nombrecolorauto}}</dd>
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-6 mb-3">
                  <dt>Kms recorridos</dt>
                </div>
                <div class="col-md-6 mb-3">
                  <dd >{{infoUser.kms}}</dd>
                </div>
              </div>
            
              
            
            
            
            
            
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2019 RN2</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">www.rn2.mx</a></li>
          
        </ul>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
            <script src="form-validation.js"></script>
    
    </body>
      
</body>


</html>